<%- include('partials/header'); -%>

<header>
  <div class="jobs">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Google</h2>
    <h3>Software Developers</h3>
    <a href="/job" class="btn">View More</a>
  </div>
</header>


<%- include('partials/footer'); -%>