<%- include('partials/header'); -%>

<ul class="listings">
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Software Developer</h4>
    <p>Location: Egypt  Remote</p>
  </li>
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Backend Developer</h4>
    <p>Location: Korea  Remote</p>
  </li>
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Flutter Developer</h4>
    <p>Location: London  Remote</p>
  </li>
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Frontend Developer</h4>
    <p>Location: Japan Remote</p>
  </li>
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>React/ Npde.js Developer</h4>
    <p>Location: Nigeria Remote</p>
  </li>
  <li class="list">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Mobile App Developer</h4>
    <p>Location: United States  Remote</p>
  </li>
</ul>

<%- include('partials/footer'); -%>